:root {
    --base-font-family: Consolas, Courier, monospace, '隶变-简', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --content-max-width: 80em;
    --search-input-border-radius: 1px;
    --code-font-size: calc(var(--font-size-m) * 0.7);
    --modular-scale: 1.3;
    --heading-margin: 1rem 0 0;
    --heading-h2-padding: 0 0 0 0;
    --heading-h2-margin: 1rem 0 0.5rem;


    /* sidebar */
    --sidebar-nav-indent: 0.75em;
    --sidebar-nav-link-before-content: "\f15b";
    --sidebar-nav-link-before-content--active: "\f15c";
    --sidebar-nav-link-before-content-l1: "\f0c9";
    --sidebar-nav-link-before-content-l1--active: "\f550";
    --sidebar-nav-link-before-content-l2: "\f0c9";
    --sidebar-nav-link-before-content-l2--active: "\f550";
    --sidebar-nav-link-before-content-l3: "\f0c9";
    --sidebar-nav-link-before-content-l3--active: "\f550";
    --sidebar-nav-link-before-content-l4: "\f0c9";
    --sidebar-nav-link-before-content-l5--active: "\f550";
}

.sidebar-nav>ul>li a::before {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
}

.sidebar-nav>ul>li.active a::before {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
}

.markdown-section figure, .markdown-section p, .markdown-section ol, .markdown-section ul {
    margin: .25em 0;
}